<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                             <h6 class="fw-bold "><span class="text-primary"><i class="fa fa-home" aria-hidden="true"></i> Home / </span>Notfication</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mb-4" style="width: 400px;">
                            <div class="card d-flex justify-content-center flex-column" style="width: 300px;">
                                <div>
                                    <div class="d-flex justify-content-center mt-4" style="width: 100%;">
                                        <div class="image">
                                            <img src="../../assets/img/avatars/avatar.png"  class="h-auto rounded-circle">
                                        </div>
                                    </div>
                                    <h4 class="card-header text-primary" style="text-align: center; padding-bottom: 0px;">Vos Notifications</h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-center">Suivez l'actualité de vos primes et dettes sur cette page</p>
                                </div>
                            </div>
                               
                        </div>
                        <div class="col-8" style="width:71%">
                            <div class="card mb-4">
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item d-flex align-items-center gap-3">
                                    <div class="image-content">
                                        <img src="../../assets/xls.png">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between" style="width:100%">
                                        <div class="d-flex flex-column mt-3">
                                            <span style="font-weight: 600;"> Cras justo odio</span>
                                            <p>Nom de l'organisation</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-3">
                                    <div class="image-content">
                                        <img src="../../assets/xls.png">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between" style="width:100%">
                                        <div class="d-flex flex-column mt-3">
                                            <span style="font-weight: 600;"> Cras justo odio</span>
                                            <p>Nom de l'organisation</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-3">
                                    <div class="image-content">
                                        <img src="../../assets/xls.png">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between" style="width:100%">
                                        <div class="d-flex flex-column mt-3">
                                            <span style="font-weight: 600;"> Cras justo odio</span>
                                            <p>Nom de l'organisation</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-3">
                                    <div class="image-content">
                                        <img src="../../assets/xls.png">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between" style="width:100%">
                                        <div class="d-flex flex-column mt-3">
                                            <span style="font-weight: 600;"> Cras justo odio</span>
                                            <p>Nom de l'organisation</p>
                                        </div>
                                        <div>
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                              </div>
                        </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    