<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3 mb-4 d-flex flex-column ">
                        <div>
                            <h4 class="fw-bold "><span class="text-primary">Hi</span>, {{userInfo.compagny.name}}</h4>
                        </div>
                     
                        <span class="text-muted fw-light">Qu’allez vous faire aujourd’hui?</span>
                    </div>
                    <div *ngIf="upload==true"  class="alert alert-primary alert-dismissible" role="alert">
                        <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Parfait :)</h6>
                        <p class="mb-0">Votre Document a bien été uploadé.</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                      </div>
                    <div class="row ">
                      <div class="d-flex justify-content-end mb-3">
                          <button class="btn btn-primary"  data-bs-toggle="modal"
                          data-bs-target="#modalCreateUser">Create Employee</button>
                      </div>
                          <div class="card p-5">
                            <div class="card-body">
                              <div class="upload row" >
                                <div class="col-6 d-flex flex-column justify-content-center ">
                                    <h1 class="text-primary">UPLOADING</h1>
                                   <p class=" texter mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere enim explicabo repellat illo mollitia provident architecto minus delectus voluptas numquam.</p>
                                    <div class="input-group">
                                        <input type="file" class="form-control"  (change)="onFileSelected($event)"  />
                                    </div>
                                    <div class="butter d-flex gap-3 mt-4">
                                        <!-- <button type="button" class="btn btn-primary" routerLink="configdoc" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Next Etape</button> -->
                                        <button type="button" class="btn btn-primary" routerLink="configdoc" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Next Etape</button>
                                        <button type="button" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </div>
                               <div class="imager col-6 d-flex justify-content-center">
                                    <img src="../../assets/upload.svg" alt="upload"/>
                               </div>
                              </div>
                            </div>
                          </div>
                        </div>
                 </div>
            </div>  
         </div>   
             
    </div>
    
</div>
<app-modals></app-modals>