<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3 mb-4 d-flex flex-column ">
                        <div>
                            <h4 class="fw-bold "><span class="text-primary">HI</span>, ABDOUL RAOUF</h4>
                        </div>
                     
                        <span class="text-muted fw-light">Qu’allez vous faire aujourd’hui?</span>
                    </div>
                    <div class="row ">
                          <div class="card p-5">
                            <div class="card-body">
                              <div class="row" >
                                <div class="col-6 d-flex flex-column justify-content-center ">
                                    <h1 class="text-primary">UPLOADING</h1>
                                   <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere enim explicabo repellat illo mollitia provident architecto minus delectus voluptas numquam.</p>
                                    <div class="input-group">
                                        <input type="file" class="form-control"  (change)="onFileSelected($event)"  />
                                    </div>
                                    <div class="d-flex gap-3 mt-4">
                                        <!-- <button type="button" class="btn btn-primary" routerLink="configdoc" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Next Etape</button> -->
                                        <button type="button" class="btn btn-primary" routerLink="configdoc" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Next Etape</button>
                                        <button type="button" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                                        <div class="offcanvas-header">
                                          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                                          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                          <div>
                                            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                                          </div>
                                          <div class="dropdown mt-3">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                              Dropdown button
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <li><a class="dropdown-item" href="#">Action</a></li>
                                              <li><a class="dropdown-item" href="#">Another action</a></li>
                                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                               <div class="col-6 d-flex justify-content-center">
                                    <img src="../../assets/upload.svg" alt="upload"/>
                               </div>
                              </div>
                            </div>
                          </div>
                        </div>
                 </div>
            </div>  
         </div>   
             
    </div>
    
</div>
