@media screen and (max-width:450px) {
    .content-all{
        width: 100%;
        height: 100%;
      }
    .content-img{
        background-color: #ffffff !important;
     }
    .content-img img{
        width: 100%;
       background-color: #ffffff;
       opacity: 0%;
    }
    .content-form{
        position: relative;
        align-items: center;
        justify-content: center;
        left: -32%;
        /* bottom:40%; */
    }

    .illustration {
      visibility: hidden;
      display: none;
    }

    .container-fluid {
      padding-top: 25%;
    }
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.illustration {
  height: 58.5rem;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  .ng-invalid.ng-touched + div,.error {
    color: red;
  }
  .logo{
    position: relative;
    width: 45px;
    height: 50px;
  }
  .logo img{
    position:absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  .password{
    position: relative;
  }
  .password span{
    cursor: pointer;
    position: absolute;
    top:12px;
    float: right;
    left: 90%;
  }