<div class="container-fluid" style="margin-right: 0;margin-left: 0; background-color: white;">
    <div class="row d-flex  cotent-all">
        <div class="col-8 content-img" style="background-color: #f8f8f8;">
            <img  src="../../assets/Registration.svg" style="height: 58.5rem;">
        </div>
        <div class="col-4  d-flex justify-content-center align-items-center content-form">
            <div>
                <h1 style="font-size: 24px;color: #005eff;font-weight: bold;text-align: center;">Confidenz APP</h1>
                <div>
                    <h1 style="font-size: 18px;margin-bottom: 0px;width: 336px;height: 35.7812px;padding-bottom: 0px;margin-top: 2px;border-color: #5e5873;"><br>Inscrit toi sur la meilleur App<br><br></h1>
                    <p style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"><br>Inscrit toi et découvre la nouveauté<br><br></p>
                </div>
                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                    <div class="mb-2">
                        <label class="form-label" style="font-size: 14PX;">Name of the Organization </label>
                        <input class="form-control" type="text" style="border-radius: 6px;height: 43px;margin-bottom: 15px;" placeholder="elohim" name="email" required="" formControlName="name">
                        <div *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
                            <div *ngIf="registrationForm.get('name')?.errors?.['required']">Name is required</div>
                          </div>
                    </div>
                    <div  class="mb-2">
                        <label class="form-label" style="font-size: 14PX;">Email</label>
                        <input class="form-control" type="email" style="border-radius: 6px;height: 43px;margin-bottom: 15px;" placeholder="elohim@gmail.com" name="email" required="" formControlName="email">
                        <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
                            <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required</div>
                            <div *ngIf="registrationForm.get('email')?.errors?.['email']">Email is? invalid</div>
                          </div>
                    </div>
                    <div  class="mb-2">
                        <div class="d-flex flex-row justify-content-between"><label class="form-label">Password</label></div><input class="form-control" type="password" formControlName="password">
                        <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
                            <div *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required</div>
                            <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
                          </div>
                    </div>
                    <div  class="mb-2">
                        <div class="d-flex flex-row justify-content-between"><label class="form-label">Retape Password</label></div><input class="form-control" type="password" formControlName="passwordConfirmation">
                        <!-- <div *ngIf="registrationForm.get('passwordConfirmation')?.errors?.['required']">Confirm Password is required</div> -->
                        <div *ngIf="registrationForm.get('passwordConfirmation')?.invalid && (registrationForm.get('passwordConfirmation')?.touched || registrationForm?.dirty)">
                            <div *ngIf="registrationForm.get('passwordConfirmation')?.hasError('required')">Confirm Password is required</div>
                            <div *ngIf="registrationForm.hasError('passwordMismatch')">Passwords do not match</div>
                          </div>
                    </div>
                    <div class="mb-3">
                        <!-- <div class="d-flex justify-content-center"><button class="btn btn-primary justify-content-center" type="submit" style="width: 100%;background: #7367f0;margin-top: 32px;" [disabled]="registrationForm.invalid"><span class="log">Register</span></button></div> -->
                        <div class="d-flex justify-content-center"><button class="btn btn-primary justify-content-center" type="submit" style="width: 100%;background: #7367f0;margin-top: 32px;" ><span class="log">Register</span></button></div>
                      </div>
                </form>
                <div class="d-flex justify-content-center" style="padding-top: 16px;">
                    <span style="padding-right: 15px;">already account</span><a href="">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>