<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                          <div class="fw-bold ">
                            <span class="text-primary">
                              <i class="fa fa-home" aria-hidden="true"></i>  <a href="homeadmin" class="text-primary">Home / </a>
                            </span>
                            list-Doc-User 
                          </div>
                        </div>
                    </div>
                    <div class="row">
                          <div class="card p-5">
                            <h2 class="card-header text-primary">Liste des documents</h2>
                            <div class="card-body">
                                voici la liste des documents uploadé pour vous
                                <div class="table-responsive text-nowrap mt-4">
                                    <table class="table"
                                    data-toggle="table"
                                    data-pagination="true"
                                    data-search="true"
                                   >
                                      <thead style="background-color: #F3F2F7;">
                                        <tr>
                                          <th>Nom du fichier</th>
                                          <th>Droit</th>
                                          <th>View</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        <tr>
                                          <td>
                                            <div class="d-flex align-items-center">
                                              <div class="image-content">
                                                <img src="../../assets/xls.png">
                                              </div>
                                              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Elohim Project</strong>
                                            </div>
                                          </td>                    
                                          <td><span class="badge bg-label-primary me-1">Active</span></td>
                                          <td>
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 </div>   

 <app-js></app-js>                        
 <app-modals></app-modals>