<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                             <div class="fw-bold ">
                                <span class="text-primary">
                                  <i class="fa fa-home" aria-hidden="true"></i> Home / 
                                </span>
                                <a href="documents" class="text-primary">Document / </a>
                                details
                              </div>
                        </div>
                    </div>
                    <div class="row">
                     <div class="col col-lg-4" style="width: 300px;">
                        <div class="card mb-4 floater" style="width: 250px;" routerLink="liste">
                            <div class="card-body">
                                <div class="image">
                                    <img src="../../assets/img/Document.png">
                                </div>
                              <p class="card-text text-primary mt-4" style="font-weight: 600;
                              font-size: 20px;
                              line-height: 21px;">
                                Février
                              </p>
                              <div class="content-information d-flex justify-content-between">
                                <span>Finance abdoul</span>
                                <div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                     </div>  
                     <div class="col col-lg-4" style="width: 300px;">
                        <div class="card mb-4" style="width: 250px;">
                            <div class="card-body">
                                <div class="image">
                                    <img src="../../assets/img/Document.png">
                                </div>
                              <p class="card-text text-primary mt-4" style="font-weight: 600;
                              font-size: 20px;
                              line-height: 21px;">
                                Février
                              </p>
                              <div class="content-information d-flex justify-content-between">
                                <span>Finance abdoul</span>
                                <div>
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                     </div> 
                </div>
            </div>
        </div>
    </div>
</div>                    
