.floater{
    transition: all .2s;
}
.floater:hover{
    transform: translateY(-10px);
    animation-timing-function: ease-in-out;
    animation-delay:500ms;
    animation-iteration-count: 1;
    animation-duration: 200ms;
}