<div class="container-fluid" style="margin-right: 0;margin-left: 0; background-color: white; ">
    <div class="row d-flex cotent-all">
        <div class="content-img col-8  d-flex justify-content-center " style="background-color: #f8f8f8">
            <img  src="../../assets/Illustrations.svg" style="height: 58.5rem; ">
        </div>
        <div class="col-4  d-flex justify-content-center align-items-center content-form">
            <div>
                <div *ngIf="succedCreationAccount==true" class="alert alert-primary mb-4" role="alert">
                    {{messageSuccedCreation}}
                 </div>
                <div *ngIf="error==true" class="alert alert-danger mb-4" role="alert">
                   {{errormessage}}
                </div>
                <div *ngIf="succedDeleted==true" class="alert alert-warning mb-4" role="alert">
                    {{messageDeleteAccount}}
                 </div>
                <div class="d-flex align-items-center gap-2">
                    <div class="logo">
                        <img src="../../assets/img/logo2.svg"/>
                    </div>
                    <div>
                        <h1 style="font-size: 24px;color: #005eff;font-weight: bold;text-align: center;">Confidenz APP</h1>
                    </div>
                </div>
               
                <div>
                    <h1 style="font-size: 18px;margin-bottom: 0px;width: 336px;height: 35.7812px;padding-bottom: 0px;margin-top: 2px;border-color: #5e5873;"><br>Bienvenue sur Confidenz APP<br><br></h1>
                    <p style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"><br>Connectez-vous pour accéder à votre compte et profiter de toutes les fonctionnalités<br><br></p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
                         <div class="mb-4">
                            <label class="form-label" style="font-size: 14PX;">Email</label>
                            <input class="form-control" type="email" style="border-radius: 6px;height: 43px;margin-bottom: 15px;" placeholder="elohim@gmail.com" name="email" required=""  formControlName="email">
                            <div class="mb-3"  *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                                <div *ngIf="loginForm.controls['email'].errors?.['required']">
                                    L'email doit être renseigner.
                                </div>
                                <div *ngIf="loginForm.controls['email'].errors?.['email']">
                                    Email invalide.
                                </div>
                            </div>
                        </div>
                        
                        <div class="password">
                            <input class="form-control" type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" name="password">
                            <span (click)="showPassword =!showPassword" [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></span>
                        </div>
                        <div class="mb-3" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                            <div *ngIf="loginForm.controls['password'].errors?.['required']">
                                Le mot de passe doit être renseigner.
                            </div>
                          </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary justify-content-center" type="submit" style="width: 100%;background: #7367f0;margin-top: 32px;" >
                                <div *ngIf="loader==true"class="spinner-border spinner-border-sm " style="color: white;" role="status">
                                    <span class="visually-hidden">Chargement...</span>
                              </div>
                                <span class="log" *ngIf="log==false" >Se connecter</span></button></div>
                      </div>
                </form>
                <section class="d-flex justify-content-center" style="padding-top: 16px;">
                    <span style="padding-right: 15px;">Vous n'avez pas de compte ?</span><a href="register">Créer un compte.</a>
                </section>
            </div>
        </div>
    </div>
</div>