<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside id="layout-menu" (hideAside)="ShowNavbar=$event" [state]="ShowNavbar"></app-aside>
      <div class="layout-page">
          <app-navbar (showAside)="ShowNavbar=$event"></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                          <div class="fw-bold ">
                             <span class="text-primary">
                               <i class="fa fa-home" aria-hidden="true"></i>  <a [routerLink]="['/']" routerLinkActive="true"> Accueil / </a>
                             </span>
                             Paramètres
                           </div>
                        </div>
                      </div>
                    <div class=" py-3  d-flex flex-column ">
                        <div *ngIf="updatePassword==true"  class="alert alert-primary alert-dismissible mb-3" role="alert">
                            <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Opération réussie 🎉</h6>
                            <p class="mb-0">{{messagePasswordGood}}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                          </div>
                          <div *ngIf="errorPassword==true"  class="alert alert-danger alert-dismissible mb-3" role="alert">
                            <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Une erreur est survenue... 😶</h6>
                            <p class="mb-0">{{errorMessage}}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                          </div>
                        <div class="card mb-4">
                            <h5 class="card-header">Paramètres</h5>
                            <!-- Account -->
                            <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img
                                src="../../assets/img/avatars/avatar.png"
                                alt="user-avatar"
                                class="d-block rounded"
                                height="100"
                                width="100"
                                id="uploadedAvatar"
                                />
                                <div class="button-wrapper d-flex flex-column">
                                    <span style="font-size:20px; font-weight: 700;">{{userInfo.compagny.name}}</span>
                                    <span>Administrateur</span>
                                </div>
                            </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body">
                                <h5 class="card-header">Modifier le mot de passe</h5>
                            <!-- <form id="formAccountSettings1" method="POST" onsubmit="return false">
                                <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Nom</label>
                                    <input
                                    class="form-control"
                                    type="text"
                                    value="{{userInfo.compagny.name}}"
                                    id="firstName"
                                    name="firstName"
                                    autofocus
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="OldPassword" class="form-label">E-mail</label>
                                    <input
                                    class="form-control"
                                    type="text"
                                    value="{{userInfo.compagny.OldPassword}}"
                                    id="OldPassword"
                                    name="OldPassword"
                                    value="Elohim@example.com"
                                    placeholder="Elohim@example.com"
                                    />
                                </div>
                                </div>
                                <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Modifier</button>
                                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            </form>
                            </div>

                           <hr> -->
                            <div class="p-4">
                                <form id="formAccountSettings1"  [formGroup]="passwordForm" (ngSubmit)="submitPassword()"  method="POST" onsubmit="return false">
                                    <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="oldPassword" class="form-label">Mot de Passe</label>
                                        <input
                                        class="form-control"
                                        type="password"
                                        id="oldPassword"
                                        name="oldPassword"
                                        formControlName="OldPassword"
                                        required />
                                        <div class="mb-3"  *ngIf="passwordForm.controls['OldPassword'].invalid && (passwordForm.controls['OldPassword'].dirty || passwordForm.controls['OldPassword'].touched)">
                                            <div *ngIf="passwordForm.controls['OldPassword'].errors?.['required']">
                                                L'ancien mot de passe doit être renseigner.
                                            </div>
                                            <div *ngIf="passwordForm.controls['OldPassword'].errors?.['OldPassword']">
                                                L'ancien mot de passe invalide.
                                            </div>

                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 col-md-6">
                                        <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                                        <input
                                        class="form-control"
                                        type="password"
                                        id="newPassword"
                                        name="newPassword"
                                        formControlName="NewPassword"
                                        required/>
                                        <div class="mb-3"  *ngIf="passwordForm.controls['NewPassword'].invalid && (passwordForm.controls['NewPassword'].dirty || passwordForm.controls['NewPassword'].touched)">
                                            <div *ngIf="passwordForm.controls['NewPassword'].errors?.['required']">
                                                Le nouveau mot de passe doit être renseigner.
                                            </div>
                                            <div *ngIf="passwordForm.controls['NewPassword'].errors?.['NewPassword']">
                                                Nouveau mot de passe invalide.
                                            </div>
                                            <div class="error" *ngIf="passwordForm.get('NewPassword')?.errors?.['minlength']">Le nouveau mot de passe doit avoir 6 caractères</div>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="confirmPassword" class="form-label">Comfirmer le Mot de passe</label>
                                        <input
                                        class="form-control"
                                        type="password"
                                        id="confirmPassword"
                                        name="confirmpassword"
                                        formControlName="RetapePassword"
                                        required/>
                                        <div class="mb-3"  *ngIf="passwordForm.controls['RetapePassword'].invalid && (passwordForm.controls['RetapePassword'].dirty || passwordForm.controls['RetapePassword'].touched)">
                                            <div *ngIf="passwordForm.controls['RetapePassword'].errors?.['required']">
                                                Confirmer le mot de passe.
                                            </div>
                                            <div *ngIf="passwordForm.controls['RetapePassword'].errors?.['RetapePassword']">
                                                RetapePassword invalide.
                                            </div>
                                            <div class="error" *ngIf="passwordForm.get('RetapePassword')?.errors?.['minlength']">
                                                le nouveau mot de passe doit avoir 6 caractères
                                            </div>
                                            
                                        </div>
                                    </div>
                                    </div>
                                    <div class="mt-2">
                                    <button type="submit" class="btn btn-primary me-2">
                                        <span *ngIf="loader==true"class="spinner-border spinner-border-sm " style="color: white;" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                          </span>
                                          <span>Modifier</span></button>
                                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </form>
                            </div>
                           
                            <!-- /Account -->
                        </div>
                        <hr class="my-0" />
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-header">Supprimer mon compte</h5>
                                <div class="p-4">
                                    <div class="mb-3 col-12 mb-0">
                                        <div class="alert alert-warning">
                                            <h6 class="alert-heading fw-bold mb-1">Etes vous sûr de vouloir supprimer votre compte ?</h6>
                                            <p class="mb-0">Celà entrainera la suppression de vos employés et de vos fichiers. Cette action est irreversible.</p>
                                        </div>
                                    </div>
                                    <form id="formAccountDeactivation" onsubmit="return false">
                                        <div class="form-check mb-3">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="accountActivation"
                                            id="accountActivation" 
                                            [(ngModel)]="isChecked" 
                                            (change)="updateButtonState()"
                                        />
                                        <label class="form-check-label" for="accountActivation"
                                            >Je confirme la suppression de mon compte.</label
                                        >
                                        </div>
                                        <button type="submit" class="btn btn-danger deactivate-account" [disabled]="!buttonEnabled" (click)="deletedAccount()">
                                            <span *ngIf="supprimeloader==true"class="spinner-border spinner-border-sm " style="color: white;" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </span>
                                            <span *ngIf="supprimeloader==false">Supprimer le compte </span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>                        