
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" [ngClass]="{showNav:state}" style="height: 100%;">
  <div class="close" (click)="hideNavbar()">
    <i class="fa fa-plus"></i>
  </div>
    <div class="app-brand demo mt-lg-4 mb-4 pt-4 mt-4">
      <a [routerLink]="['/']" routerLinkActive="true" class="app-brand-link">
        <div class="logo">
          <img src="../../assets/img/logo2.svg"/>
        </div>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Confidenz APP</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1 gap-2">
      <!-- Dashboard -->
      <li class="menu-item "  [ngClass]="{'active':currentUrl ==='/'}">
        <a [routerLink]="['/']" routerLinkActive="true" class="menu-link gap-2">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          <div data-i18n="Partager un fichier">Partager un fichier</div>
        </a>
      </li>

      <!-- Layouts -->
      <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/documents'}">
        <a [routerLink]="['/documents']" routerLinkActive="true" class="menu-link gap-2" >
            <i class="fa fa-folder-o" aria-hidden="true"></i>
          <div data-i18n="Mes fichiers">Mes fichiers</div>
        </a>
      </li>

      <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/list-employee'}">
        <a [routerLink]="['/list-employee']" routerLinkActive="true" class="menu-link gap-2" >
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <div data-i18n="Mes employés">Mes employés</div>
        </a>
      </li>
      <!-- <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/notification'}">
        <a href="notification" class="menu-link gap-2" >
            <i class="fa fa-bell-o" aria-hidden="true"></i> 
          <div data-i18n="Notifications">Notifications</div>
        </a>
      </li> -->
      <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/settings'}">
        <a [routerLink]="['/settings']" routerLinkActive="true" class="menu-link gap-2" >
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <div data-i18n="Paramètres">Paramètres</div>
        </a>
      </li>
      <li class="menu-item">
        <hr style=" padding-left: 1px ; width: 100%;">
        <a style="cursor: pointer;" class="menu-link gap-2" (click)="logOut()" >
          <i class="fa fa-power-off" aria-hidden="true"></i>
          <div data-i18n="Déconnexion">Déconnexion</div>
        </a>
      </li>
      
     </ul> 
    
</aside>