<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height: 100%;">
    <div class="app-brand demo mt-lg-4 mb-4">
      <a href="index.html" class="app-brand-link">
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Confidenz APP</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1 gap-2">
      <!-- Dashboard -->
      <li class="menu-item "  [ngClass]="{'active':currentUrl ==='/homeadmin'}">
        <a href="homeadmin" class="menu-link gap-2">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          <div data-i18n="Analytics">Upload Page</div>
        </a>
      </li>

      <!-- Layouts -->
      <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/documents'}">
        <a href="documents" class="menu-link gap-2" >
            <i class="fa fa-folder-o" aria-hidden="true"></i>
          <div data-i18n="Analytics">Documents</div>
        </a>
      </li>

      <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/list-employee'}">
        <a href="list-employee" class="menu-link gap-2" >
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <div data-i18n="Analytics">List Users</div>
        </a>
      </li>
      <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/notification'}">
        <a href="notification" class="menu-link gap-2" >
            <i class="fa fa-bell-o" aria-hidden="true"></i> 
          <div data-i18n="Analytics">Notifications</div>
        </a>
      </li>
      <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/settings'}">
        <a href="settings" class="menu-link gap-2" >
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <div data-i18n="Analytics">Settings</div>
        </a>
      </li>
      <li class="menu-item">
        <hr style=" padding-left: 1px ; width: 100%;" >
        <div style="cursor: pointer;" class="menu-link gap-2" (click)="logOut()" >
          <i class="fa fa-power-off" aria-hidden="true"></i>
          <span  >Logout</span>
        </div>
      </li>
      
     </ul> 
    
  </aside>