<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                          <div class="fw-bold ">
                            <span class="text-primary">
                              <i class="fa fa-home" aria-hidden="true"></i>  <a href="homeadmin" class="text-primary">Home / </a>
                            </span>
                            Document 
                          </div>
                        </div>
                    </div>
                    <div *ngIf="count==true"  class="alert alert-primary alert-dismissible mb-3" role="alert">
                      <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Bravo :P</h6>
                      <p class="mb-0">{{messageSucced}}</p>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      </button>
                    </div>
                    
                    <div class="row">
                          <div class="card p-5">
                            <h2 class="card-header text-primary">Liste des documents</h2>
                            <div *ngIf="loaderpage==true" class="text-center mb-5">
                              <div  class="spinner-border text-primary" role="status" style="width:100px; height:100px">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>
                            <div class="card-body"*ngIf="loaderpage==false">
                                Voici la liste des documents partagés sur la plateforme
                                <div class="input-group mt-2" style="width: 30%; display:flex; float:right;">
                                  <span class="input-group-text" id="basic-addon-search31"><i class="fa fa-search" aria-hidden="true"></i></span>
                                  <input type="text" [(ngModel)]="searchText" (ngModelChange)="updateFilteredData()" class="form-control" placeholder="Chercher..." aria-label="Chercher..." aria-describedby="basic-addon-search31" />
                                </div>
                                <div class="table-responsive text-nowrap mt-5">
                                    <table class="table"
                                    data-data="data"
                                    data-toggle="table"
                                    data-pagination="true"
                                    data-search="true"
                                   >
                                      <thead style="background-color: #F3F2F7;">
                                        <tr>
                                          <th>Nom du fichier</th>
                                          <th>Droit</th>
                                          <th>Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        <tr *ngFor="let doc of filteredData | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                                          <td>
                                            <div class="d-flex align-items-center">
                                              <div class="image-content">
                                                <img src="../../assets/xls.png">
                                              </div>
                                              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{doc.name}}</strong>
                                            </div>
                                          </td>                    
                                          <td><span class="badge bg-label-primary me-1">{{doc.rights}}</span></td>
                                          <td>
                                            <div class="dropdown">
                                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="toPage(doc)" style="cursor:pointer"><i class="fa fa-eye" aria-hidden="true" style="
                                                  margin-right: 8px;" ></i>  Details</a>
                                                <a class="dropdown-item" href="#" style="cursor: pointer;" data-bs-toggle="modal" [attr.data-bs-target]="'#modifyFiles'+doc.id" ><i class="fa fa-pencil-square-o" aria-hidden="true"  style="
                                                  margin-right: 8px;"></i>  Mise à jour des Droits</a>
                                                <a class="dropdown-item" href="#" style="cursor: pointer;" data-bs-toggle="modal" [attr.data-bs-target]="'#modalSupprime'+doc.id" ><i class="fa fa-trash-o" aria-hidden="true" style="
                                                  margin-right: 8px;"></i>  Delete</a>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div style="display: flex; float: right;">
                                      <div class="pagination">
                                        <pagination-controls 
                                        previousLabel="Previous"
                                        nextLabel="Next"
                                        (pageChange)="currentPage = $event">
                                      </pagination-controls>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 </div>   
 <div *ngFor="let doc of filteredData" class="modal fade" id="modalSupprime{{doc.id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Supprimer Documents</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <span> Voulez vous vraiment supprimer {{doc.name}}? Cette action est irreversible</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button"  class="btn btn-danger" (click)="deletedDoc(doc.id)">
          <div *ngIf="actionDelete==true" class="spinner-border spinner-border-sm " style="color: white;" role="status">
            <span class="visually-hidden">Loading...</span>
      </div> Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" *ngFor="let doc of filteredData" id="modifyFiles{{doc.id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title" id="exampleModalLabel1">Mise à jour du fichier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorCode==true"  class="alert alert-danger alert-dismissible mb-3" role="alert">
          <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">Error :(</h6>
          <p class="mb-0">{{errormessage}}</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="updateDoc(doc.id)">
          <div class="row">
            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Nom du fichier</label>
              <input type="text" id="namefiles" name="namefiles" class="form-control" placeholder="Enter Name" formControlName="name">
            </div>
          </div>
        <div class="row">
          <div class="mb-1 ">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="droits">Définir les droits du Fichier</label>
            </div>
            <select class="form-select" id="droits" aria-label="Default select example" formControlName="droit">
              <option  selected="selected" value="Lecture seule">Lecture seule</option>
              <option value="Modifiable">Modifiable</option> 
            </select>
          </div>
          <div class="p-3">
            <button type="submit"  class="btn btn-primary" style="width: 100%;">
              <div *ngIf="loader==true" class="spinner-border spinner-border-sm " style="color: white;" role="status">
                <span class="visually-hidden">Loading...</span>
          </div> Modifier</button>
          </div>
         
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <!-- <app-modals></app-modals> -->