<div class="container-fluid" style="margin-right: 0;margin-left: 0; background-color: white;">
    <div class="row d-flex  cotent-all">
        <div class="col-8 content-img" style="background-color: #f8f8f8;">
            <img  src="../../assets/Registration.svg" style="height: 58.5rem;">
        </div>
        <div class="col-4  d-flex justify-content-center align-items-center content-form">
            <div>
                <div class="d-flex align-items-center gap-2" >
                    <div class="logo">
                        <img src="../../assets/img/logo2.svg"/>
                    </div>
                    <div>
                        <h1 style="font-size: 24px;color: #005eff;font-weight: bold;text-align: center; margin-top: 10px;">Confidenz App</h1>
                    </div>
                </div>    
                <div>
                    <h1 style="font-size: 18px;margin-bottom: 0px;width: 336px;height: 35.7812px;padding-bottom: 0px;margin-top: 2px;border-color: #5e5873;"><br>Forget Password<br><br></h1>
                    <p style="font-size: 14px;padding-bottom: 0px;padding-top: 0px;"><br>Renitialisé votre maux de passe <br><br></p>
                </div>
                <form [formGroup]="ForgetForm" (ngSubmit)="forget()">
                    <div  class="mb-2">
                        <div class="d-flex flex-row justify-content-between"><label class="form-label">Password</label></div><input class="form-control" type="password" formControlName="password"  value="Elohim">
                        <div *ngIf="ForgetForm.get('password')?.invalid && (ForgetForm.get('password')?.dirty || ForgetForm.get('password')?.touched)">
                            <div *ngIf="ForgetForm.get('password')?.errors?.['required']">Password is required</div>
                            <div *ngIf="ForgetForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
                          </div>
                    </div>
                    <div  class="mb-2">
                        <div class="d-flex flex-row justify-content-between"><label class="form-label">Retape Password</label></div><input class="form-control" type="password" formControlName="passwordConfirmation"  value="Elohim">
                        <!-- <div *ngIf="ForgetForm.get('passwordConfirmation')?.errors?.['required']">Confirm Password is required</div> -->
                        <div *ngIf="ForgetForm.get('passwordConfirmation')?.invalid && (ForgetForm.get('passwordConfirmation')?.touched || ForgetForm?.dirty)">
                            <div *ngIf="ForgetForm.get('passwordConfirmation')?.hasError('required')">Confirm Password is required</div>
                            <div *ngIf="ForgetForm.hasError('passwordMismatch')">Passwords do not match</div>
                          </div>
                    </div>
                    <div class="mb-3">
                        <!-- <div class="d-flex justify-content-center"><button class="btn btn-primary justify-content-center" type="submit" style="width: 100%;background: #7367f0;margin-top: 32px;" [disabled]="ForgetForm.invalid"><span class="log">Register</span></button></div> -->
                        <div class="d-flex justify-content-center"><button class="btn btn-primary justify-content-center" type="submit" style="width: 100%;background: #7367f0;margin-top: 32px;" ><span class="log">Renitialisé</span></button></div>
                      </div>
                </form>
                <div class="d-flex justify-content-center" style="padding-top: 16px;">
                    <span style="padding-right: 15px;">already account</span><a [routerLink]="['/login']">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>