<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                             <h6 class="fw-bold "><span class="text-primary"><i class="fa fa-home" aria-hidden="true"></i> Home / </span>Document</h6>
                        </div>
                    </div>
                    <div class="row">
                          <div class="card p-5">
                            <h2 class="card-header text-primary">Liste des Primes</h2>
                            <div class="card-body">
                                voici la liste des documents uploadé sur la plateforme
                                <div class="table-responsive text-nowrap mt-4">
                                    <table class="table"
                                    data-toggle="table"
                                    data-pagination="true"
                                    data-search="true"
                                   >
                                      <thead style="background-color: #F3F2F7;">
                                        <tr>
                                          <th>Name/Email</th>
                                          <th>Prime</th>
                                          <th>Dette</th>
                                        </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        <tr>
                                          <td>
                                            <div class="d-flex align-items-center">
                                              <strong>Elohim</strong>
                                            </div>
                                          </td>                    
                                          <td><span>12000 Fcfa</span></td>
                                          <td>
                                            <span>15000 Fcfa</span>
                                          </td>
                                        </tr>
                                        <tr>
                                            <td>
                                              <div class="d-flex align-items-center">
                                                <strong>Elohim</strong>
                                              </div>
                                            </td>                    
                                            <td><span>12000 Fcfa</span></td>
                                            <td>
                                              <span>15000 Fcfa</span>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <div class="d-flex align-items-center">
                                                <strong>Elohim</strong>
                                              </div>
                                            </td>                    
                                            <td><span>12000 Fcfa</span></td>
                                            <td>
                                              <span>15000 Fcfa</span>
                                            </td>
                                          </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 </div>   

 <app-js></app-js>                        