<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside></app-aside>
        <div class="layout-page">
            <app-navbar></app-navbar>
            <div class="content-wrapper">
                <div class="container-xxl  container-p-y">
                    <div class=" py-3  d-flex flex-column ">
                        <div>
                             <h6 class="fw-bold "><span class="text-primary"><i class="fa fa-home" aria-hidden="true"></i> Home / </span>Document</h6>
                        </div>
                    </div>
                    <div class="row">
                          <div class="card p-5">
                            <h2 class="card-header text-primary">Contenu Doc</h2>
                            <div class="card-body">
                                voici la liste des documents uploadé sur la plateforme
                                <!-- <div class="input-group mt-2" style="width: 30%; display:flex; float:right;">
                                  <span class="input-group-text" id="basic-addon-search31"><i class="fa fa-search" aria-hidden="true"></i></span>
                                  <input type="text" [(ngModel)]="searchText" (ngModelChange)="updateFilteredData()" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31" />
                                </div> -->
                                <div class="table-responsive text-nowrap mt-4">
                                    <table class="table"
                                    data-toggle="table"
                                    data-pagination="true"
                                    data-search="true"
                                   >
                                      <thead style="background-color: #F3F2F7;">
                                      <tr >
                                        
                                          <th *ngFor="let colonne of entetes ">{{colonne}}</th>
                                      </tr>
                                      </thead>
                                      <tbody class="table-border-bottom-0">
                                        <tr class="p-5" *ngFor="let colonne of colonnes ">
                                          <td *ngFor="let valeur of colonne">
                                             {{valeur}}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 </div>   

 <app-js></app-js>                        